@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #460b3e;
}

/* For WebKit based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as desired */
}
  
::-webkit-scrollbar-track {
    background-color: #460b3e; /* Set the background color of the track */
}
  
::-webkit-scrollbar-thumb {
    background-color: #fcb70c; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Add border radius to the thumb */
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #fcb70c; /* Set the color of the scrollbar thumb on hover */
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.borderX {
    border: 1px solid #F81DFB;
}

.nft-1 {
    background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
    backdrop-filter: blur(17.915px);
    border-width: 2px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
}

.paragraph {
    color: rgba(255, 255, 255, 0.637);
}

.gradient {
    font-size: 1.1rem;
    background: linear-gradient(90.13deg, #FFFFFF 0%, #fcb70c 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.walletGradient {
    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(10px);
}

.bgWalletGradient {
    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.carousel-item {
    display: inline-block;
    margin-right: 20px;
}
  
.image-container {
    width: 250px;
    height: 400px;
}

.likeGradient {
    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    border-radius: 0px 15px;
}

.pl {
	display: block;
	width: 6.25em;
	height: 6.25em;
}
.pl__ring, .pl__ball {
	animation: ring 2s ease-out infinite;
}
.pl__ball {
	animation-name: ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}